@font-face {
    font-family: 'CommitMono';
    src: url('../matthewtapps.github.io/assets/fonts/CommitMono-Regular.otf') format ('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'CommitMono';
    src: url('../matthewtapps.github.io/assets/fonts/CommitMono-Bold.otf') format ('opentype');
    font-weight: 700;
    font-style: normal
}


@font-face {
    font-family: 'CommitMono';
    src: url('../matthewtapps.github.io/assets/fonts/CommitMono-Light.otf') format ('opentype');
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: 'CommitMono';
    src: url('../matthewtapps.github.io/assets/fonts/CommitMono-Regular-Italic.otf') format ('opentype');
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: 'CommitMono';
    src: url('../matthewtapps.github.io/assets/fonts/CommitMono-Bold-Italic.otf') format ('opentype');
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: 'CommitMono';
    src: url('../matthewtapps.github.io/assets/fonts/CommitMono-Light-Italic.otf') format ('opentype');
    font-weight: 300;
    font-style: italic
}
