:root {
    --text-primary: #fbf1c7;
    --bg-primary: #3c3836;
    --bg-link-hover: #fbf1c7;
    --text-link-hover: #689d6a;
    --text-secondary: #d79921;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.7);
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
}

body {
    font-family: CommitMono;
    font-weight: 200;
    font-size: 16px;
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.index-content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.splash-text {
    font-family: CommitMono;
    font-weight: 200;
    font-style: normal;
    font-size: clamp(2em, 10vw, 4em);
    padding: 30px;
    align-self: center;
}

.splash-text .highlight {
    color: var(--text-secondary)
}

.navigation-list {
    list-style-type: none;
    font-size: clamp(0.5em, 6vw, 1.5em);
    padding-bottom: 25px;
    position: relative;
    display: flex;
    justify-content: center;
}

.navigation-list .item {
    display: inline-block;
    text-align: center;
    padding-right: 10px;
    color: var(--text-primary);
    transition: color 0.3s;
    text-decoration: none;
}

.navigation-list .item:hover {
    color: var(--text-link-hover);
}

.navigation-list .spacer {
    display: inline-block;
    text-align: center;
    color: var(--text-primary);
    padding-right: 10px;
}

.triangle {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -11px;
    background-image: url('../svg/triangle.svg');
}

body.loaded .triangle {
    transition: left 0.5s ease;
}

.index-content-box {
    flex-direction: column;
    min-height: 0px;
    max-width: 900px;
    height:auto;
    border: 1px solid;
    border-color: var(--text-primary);
    margin: 10px;
    width: fit-content;
    align-self: center;
    overflow: hidden;
    transition: height 1s ease-in-out, width 1s ease-in-out;
}

.index-content-box .content {
    margin: 10px;
    font-weight: 200;
    font-family: CommitMono;
    border: none;
    white-space: pre-wrap;
}

.index-content-box .content .italic {
    font-style: italic;
}

footer {
    text-align: center;
    margin-top: 10px;
    padding: 20px 0;
    font-weight: 200;
}

footer .footer-link-text {
    font-family: CommitMono;
    color: var(--text-primary);
    transition: color 0.3s;
    font-style: normal;
    text-decoration: none;
}

footer .footer-link-text:hover {
    color: var(--text-link-hover)
}

.hidden {
    display: none;
}

.gallery {
    margin: 0px;
    padding: 0px;
}

.gallery a {
    font-family: CommitMono;
    color: var(--text-primary);
    text-decoration: none;
}

.gallery .cover {
    width: 100%;
    height: auto;
}

.gallery .gallery-item {
    position: relative;
}

.gallery .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 15px;
    background: rgba(0, 0, 0, 0.6); 
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: clamp(0.5em, 6vw, 1.5em);
}

.gallery .gallery-item:hover .overlay {
    opacity: 1;
}

.gallery .spacer {
    height: 10px
}